version: "3.9"

services:
  traefik:
    container_name: traefik
    image: traefik:v3.1
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080" # Web Viewer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.yaml:/etc/traefik/traefik.yaml:ro
      - ./config/dynamic:/etc/traefik/config/dynamic:ro
      - ./config/acme.json:/acme.json
