entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

api:
  dashboard: true

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /etc/traefik/config/dynamic
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "seu-email@dominio.com"
      storage: "acme.json"
      httpChallenge:
        entryPoint: web
